<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}QUANTA UFSCar</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/academicons-1.9.4/css/academicons.min.css"/>
    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link href="/assets/index.css" rel="stylesheet">
</head>
<body>
    {% include header.html %}
    
    <main>
        {{ content }}
    </main>
    
    {% include footer.html %}
    
    <script src="/assets/index.js"></script>
</body>
</html>
